<section class="coloured-section" id="title">
	<div class="container-fluid">
		<!-- Nav Bar -->
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" href="#">Uplift India</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav  ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#title">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#features">Mission</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#footer">Contact</a>
					</li>
				</ul>
			</div>
		</nav>


		<!-- Title -->
		<div class="row">
			<div class="col-sm-6">
				<h3 class="text-center mb-5">Welcome to students living program...</h3>
				<div class="d-grid mt-4">
					<a href="/payment" type="button" class="btn btn-primary center center"
						style="align-self: center;">Donate</a>
					<div class="form-text text-center">Please donate something, uparwala tumhara bhala karega.</div>
				</div>
			</div>

			<div class="col-sm-6">
				<img class="title-image" style="margin-top: -75px;" src="images/child.png" alt="child-image">
			</div>
		</div>
	</div>
</section>


<!-- Features -->

<section class="white-section" id="features">
	<div class="container-fluid">
		<div class="row">
			<div class="feature-box col-lg-4">
				<i class="icon fas fa-check-circle fa-4x"></i>
				<h3 class="feature-title"> Education.</h3>
				<p>We work to ensure children are educated for life through collective efforts.</p>
			</div>

			<div class="feature-box col-lg-4">
				<i class=" icon fas fa-bullseye fa-4x"></i>
				<h3 class="feature-title"> Nutrition</h3>
				<p>We work to address the causes of malnutrition with special focus on children below 5 years</p>
			</div>

			<div class="feature-box col-lg-4">
				<i class="icon fas fa-heart fa-4x"></i>
				<h3 class="feature-title"> Livelihood.</h3>
				<p>Our livelihood interventions enable families to enhance income and provide better for their children.
				</p>
			</div>
		</div>
	</div>
</section>

<footer class="white-section" id="footer">
	<div class="container-fluid">

		<i class="fab fa-facebook-f social-logo"></i>
		<i class="fab fa-twitter social-logo"></i>
		<i class="fab fa-instagram social-logo"></i>
		<i class="fas fa-envelope social-logo"></i>
		<p>© Copyright 2020 Rahul Jha</p>
	</div>
</footer>